body {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  color: #3c3c3b;
  font-size: 20px;
  line-height: 140%;
}

a {
  color: #053161;
  text-decoration: underline;
}

.section {
  padding-top: 80px;
  padding-right: 20px;
  padding-left: 20px;
}

.section.section-header {
  margin-bottom: 0px;
  padding: 10px;
  border-bottom: 4px solid #009db4;
  background-color: #053161;
}

.section.section-hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.section.section-footer {
  padding-bottom: 40px;
}

.main-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 0px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.main-nav-li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-nav-li.contact {
  position: absolute;
  right: 0px;
}

.main-nav-li-a {
  padding: 10px 40px;
  border-right: 2px solid #009db4;
  color: #fff;
  text-decoration: none;
}

.main-nav-li-a:hover {
  background-color: hsla(0, 0%, 100%, .1);
}

.main-nav-li-a.school {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #fff;
  font-size: 14px;
}

.main-nav-li-a.school.right {
  margin-right: 10px;
}

.main-nav-li-a.school.left {
  margin-right: 10px;
}

.main-nav-li-a.contact {
  position: absolute;
  right: 0px;
  height: 36px;
  border-left: 2px solid #009db4;
  border-right-style: none;
  background-image: url('../images/phone_icon.png');
  background-position: 50% 50%;
  background-size: 17px;
  background-repeat: no-repeat;
  line-height: 28px;
}

.main-nav-li-text {
  line-height: 16px;
  text-align: center;
}

.hero-carousel {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.hero-sidebar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #053161;
}

.slider-text-overlay {
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  padding: 60px;
}

.slider-text-heading {
  width: 300px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.text-block {
  color: #fff;
  font-size: 24px;
}

.column-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -20px;
  margin-left: -20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.column-wrapper.container-intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.column-wrapper.container-facilities {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 18px;
  padding-left: 18px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.col-main-40 {
  width: 40%;
  padding-right: 20px;
  padding-left: 20px;
}

.col-main-60 {
  width: 60%;
  padding-right: 20px;
  padding-left: 20px;
}

.div-block {
  height: 100%;
  padding: 50px;
  background-color: #f4f4f4;
}

.paragraph {
  margin-bottom: 20px;
  font-style: italic;
}

.button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 9px;
  border: 2px solid #009db4;
  background-color: transparent;
  font-family: 'Calibri Regular', sans-serif;
  color: #199db2;
}

.image {
  width: 100%;
}

.heading {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #053161;
  font-weight: 400;
}

.grid-item-3col {
  width: 33.33333333%;
  padding: 2px;
}

.grid-item-wrap {
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.text-block-2 {
  height: 100%;
}

.grid-item-text {
  position: absolute;
  font-family: 'Calibri Regular', sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.grid-item-image {
  width: 100%;
  height: auto;
}

.grid-item-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  display: block;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.container.footer-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Calibri Regular', sans-serif;
  font-size: 14px;
}

.heading-2 {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #053161;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.heading-wrap {
  text-align: center;
}

.heading-inner-wrap {
  display: inline-block;
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 10px;
  text-align: center;
}

.div-block-2 {
  display: inline-block;
  width: 70%;
  border-bottom: 1px solid #d2d2d3;
  line-height: 0px;
}

.accordion-item {
  margin-bottom: 20px;
}

.accordion-trigger {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #d2d2d3;
  cursor: pointer;
}

.accordion-trigger.accordion-trigger-first {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding-right: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom-color: #d2d2d3;
}

.accordion-content {
  overflow: hidden;
  padding-top: 10px;
}

.text-block-3 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 28px;
  font-style: italic;
}

.paragraph-2 {
  font-family: 'Calibri Regular', sans-serif;
}

.accordion-arrow {
  width: 0px;
  height: 0px;
  margin-left: 10px;
  border-top: 8px solid #d2d2d3;
  border-right: 8px solid hsla(240, 1%, 83%, 0);
  border-left: 8px solid hsla(240, 1%, 83%, 0);
}

.form-wrap {
  padding: 50px;
  background-color: #f4f4f4;
}

.div-block-3 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-4 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.footer-links-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.text-block-4 {
  text-align: right;
}

.footer-links-item {
  margin-right: 20px;
}

.footer-link {
  color: #3c3c3b;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.slider {
  height: 500px;
}

.slide-1 {
  background-image: url('../images/slide-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.sports-logo {
  margin-top: 68px;
}

.grid-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -2px;
  margin-left: -2px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.grid-wrapper.container-intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.grid-wrapper.container-facilities {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 18px;
  padding-left: 18px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.form-field {
  margin-bottom: 20px;
  border-style: none;
}

.submit-button {
  border: 2px solid #009db4;
  background-color: transparent;
  font-family: 'Calibri Regular', sans-serif;
  color: #009db4;
}

.slide-2 {
  background-image: url('../images/slide-6.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-3 {
  background-image: url('../images/slide-2.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-4 {
  background-image: url('../images/slide-5.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-5 {
  background-image: url('../images/slide-3.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-6 {
  background-image: url('../images/slide-4.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.left-arrow {
  display: none;
}

.right-arrow {
  display: none;
}

.div-block-5 {
  height: 100%;
  background-image: url('../images/intro.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 991px) {
  .section {
    padding-top: 40px;
  }
  .section.section-header {
    border-bottom-color: #009db4;
  }
  .section.section-hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .main-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  .main-nav-li {
    margin-right: 0px;
  }
  .main-nav-li.school {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .main-nav-li-a.school {
    width: 60%;
  }
  .main-nav-li-a.school.right {
    margin-right: auto;
    margin-left: 5px;
  }
  .main-nav-li-a.school.left {
    margin-right: 5px;
    margin-left: auto;
  }
  .main-nav-li-a.contact {
    position: static;
    border-right-style: none;
    border-left-style: none;
  }
  .hero-sidebar {
    width: 100%;
  }
  .column-wrapper {
    margin-right: -10px;
    margin-left: -10px;
  }
  .col-main-40 {
    width: 50%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .col-main-60 {
    width: 50%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .paragraph {
    font-size: 18px;
  }
  .heading {
    font-size: 24px;
    line-height: 24px;
  }
  .grid-item-text {
    font-size: 20px;
    line-height: 20px;
  }
  .sports-logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .submit-button {
    border: 2px solid #009db4;
    background-color: transparent;
    font-family: 'Calibri Regular', sans-serif;
    color: #009db4;
  }
}

@media (max-width: 767px) {
  .section {
    margin-bottom: 0px;
    padding-top: 40px;
  }
  .main-nav-li {
    font-size: 16px;
  }
  .main-nav-li.school {
    padding-right: 0px;
    padding-left: 0px;
  }
  .main-nav-li-a {
    padding-right: 20px;
    padding-left: 20px;
  }
  .main-nav-li-a.school {
    width: 100%;
  }
  .column-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .col-main-40 {
    width: 100%;
  }
  .col-main-60 {
    width: 100%;
  }
  .div-block {
    padding: 30px;
  }
  .heading {
    font-size: 22px;
    line-height: 22px;
  }
  .grid-item-text {
    font-size: 16px;
    line-height: 16px;
  }
  .container.footer-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .text-block-3 {
    font-size: 20px;
  }
  .paragraph-2 {
    font-size: 16px;
    line-height: 22px;
  }
  .accordion-arrow {
    border-top-width: 5px;
    border-right-width: 5px;
    border-left-width: 5px;
  }
  .form-wrap {
    padding: 30px;
  }
  .div-block-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .div-block-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .footer-logo {
    width: 100%;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .footer-links-list {
    margin-bottom: 0px;
  }
  .field-label {
    font-size: 18px;
  }
  .image-2 {
    display: block;
    margin-right: auto;
    margin-bottom: 13px;
    margin-left: auto;
  }
  .div-block-5 {
    height: 300px;
    margin-top: 20px;
  }
}

@media (max-width: 479px) {
  .section {
    margin-bottom: 0px;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .section.section-header {
    padding-right: 0px;
    padding-left: 0px;
  }
  .main-nav-li {
    font-size: 12px;
  }
  .main-nav-li.school {
    padding-right: 0px;
    padding-left: 0px;
  }
  .main-nav-li-a {
    padding-right: 9px;
    padding-left: 9px;
  }
  .main-nav-li-a.school {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
  }
  .main-nav-li-a.school.right {
    margin-right: 10px;
    margin-left: 5px;
  }
  .main-nav-li-a.school.left {
    margin-right: 5px;
    margin-left: 10px;
  }
  .main-nav-li-a.contact {
    padding-right: 18px;
    padding-left: 18px;
    background-size: 12px;
  }
  .slider-text-overlay {
    width: 100%;
    padding: 20px;
  }
  .text-block {
    font-size: 24px;
  }
  .heading {
    font-size: 24px;
    line-height: 24px;
  }
  .grid-item-3col {
    width: 100%;
  }
  .grid-item-text {
    font-size: 20px;
    line-height: 20px;
  }
  .heading-2 {
    font-size: 20px;
  }
  .heading-wrap {
    margin-top: 20px;
  }
  .heading-inner-wrap {
    margin-bottom: 20px;
  }
  .accordion-item {
    margin-bottom: 15px;
  }
  .text-block-3 {
    font-size: 18px;
    line-height: 22px;
  }
  .paragraph-2 {
    font-size: 14px;
    line-height: 20px;
  }
  .form-wrap {
    padding: 10px;
  }
  .slider {
    height: 300px;
  }
  .sports-logo {
    width: auto;
    height: 100px;
  }
  .field-label {
    font-size: 16px;
  }
  .slide-5 {
    background-position: 100% 50%;
  }
}

@font-face {
  font-family: 'Calibri Regular';
  src: url('../fonts/1ff86dd4-d3b2-4325-89bc-c6eb493cedba.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Calibri Bold';
  src: url('../fonts/4e7b2126-77d3-4e53-810d-7ccfde46450a.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}